
/* トップページスタイリング */
.img {
    padding: 100px 0px;
}

body {
    height: 100vh;
    background-color: #edffff;
    opacity: 1;
    background-image: repeating-radial-gradient(
        circle at 0 0,
        transparent 0,
        #edfeff 16px
      ),
      repeating-linear-gradient(#1981f755, #1981f7);
     background-size: cover;
  }
  
.main-text{
    animation-name:fadeInAnime;
    animation-duration:4s;
    animation-fill-mode:forwards;
    opacity:0;
}

@keyframes fadeInAnime{
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

.main-text h1 {
    font-family: "Hannari";
    font-size: 80px
}

.main-text p {
    padding-top: 40px;
    font-size: 20px;
}

.main-container {
    margin:100px 80px;
}   


.main-container h1 {
    font-size: 65px;
    font-weight: bold;
}
	
.flex-container {
    height: 400px;
    margin: 80px 40px;
    display: flex;
}

.flex-item {
    flex: 1;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.flex-item h3 {
    text-align: center;
    padding-bottom: 30px;
}

.flex-item p {
    text-align: start;
    color: #696969;
    overflow-wrap: break-word;
}

.test_img {
    background-color: #c0c0c0;
    height: 200px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* カスタマイズ */
div#main {
    width: 100%;
    height:100vh;
    background-position: center center; 
    background-repeat: no-repeat;  
    background-image: url("../images/bg.jpg");  
    background-size: cover;
}

.btn-primary {
    background: #6851F4;
    outline: none;
}

.btn-primary:hover, .btn-primary:focus, 
.btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active.focus,
.btn-primary.active, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary, 
.open > .dropdown-toggle.btn-primary:hover,
.open > .dropdown-toggle.btn-primary:focus, 
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus {
    background: #6851F4;
    color: white;
    outline: none;
}
