/* トップページスタイリング */
.all-item {
    .img {
        padding: 100px 0px;
        width: 100%;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../public/images/bg.jpg");
        background-size: cover;
    }

    .title-body {
        display: flex;
        color: white;
        align-items: center;
        justify-content: center;
    }
}

body {
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
}

.title-text {
    animation-name: fadeInAnime;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    @keyframes fadeInAnime {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    h1 {
        font-family: "Hannari";
        font-size: 80px
    }

    p {
        padding-top: 40px;
        font-size: 20px;
    }

    .button013 a {
        background: #eee;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        max-width: 240px;
        padding: 10px 25px;
        color: #313131;
        transition: 0.3s ease-in-out;
        font-weight: 500;
        z-index:0;
        border-left: solid 5px #135fab;
    }
    .button013 a:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 0;
        display: block;
        background: #135fab;
        transition: .3s;
        left:0;
    }
    .button013 a:hover {
        color: #FFF;
    }
    .button013 a:hover:before {
        width: 100%;
        z-index: -1;
    }
}

.main-container {
    margin: 100px 80px;

    h1 {
        font-size: 65px;
        font-weight: bold;
    }
}

.flex-container {
    height: 400px;
    margin: 80px 40px;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1000px) {

    .flex-container {
        height: 400px;
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .flex-item {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.flex-item {
    padding: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    h3 {
        text-align: center;
        padding-bottom: 30px;
    }

    p {
        text-align: start;
        color: #696969;
        overflow-wrap: break-word;
    }
}

.test_img {
    background-color: #c0c0c0;
    height: 200px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}



// 作成ページ
.plan_container {
    .workapce {
        background-size: cover;
        height: 70vh;
        width: 100%;
        padding-top: 30vh;
        padding: 50px 50px;
        position: relative;
        background-position: center;
        background-image: url("../../public/images/27109395_l.jpg");
        display: flex;
        justify-content: center;
        align-items: center;
        .plan_message {
            width: 50%;
            margin-bottom: 30px;
            position: relative;
            h3 {
                font-size: 60px;
                width: 100%;
                font-weight: bold;
                color: white;
            }

            p {
                padding-top: 30px;
                font-size: 20px;
                font-weight: bold;
                color: white;
            }
        }

        .plan_card {
            width: 50%;
            .btn {
                width: 100%;
            }
            .view_sub {
                margin-top: 20px;
            }
            input {
                font-size: 20px;
            }
        }
    }
}

textarea {
    resize: none;
}

.workapce::before {
    content: '';
    background-color: rgba(32, 32, 32, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}



.overview {
    padding: 70px;
    .card_content {
        margin-bottom: 20px;
    }

    .card {
        padding: 0.5em 1em;
        // margin: 1em 0;
        width: 700px;
        background: #f4f4f4;
        border-left: solid 6px #5bb7ae;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
        margin-left: auto;
        margin-right: auto;  
    }
    h1 {
        position: relative;
        font-size: 26px;
        text-align: center;
        border-bottom: 5px solid #dddddd;
        margin-bottom: 40px;
        margin-left: 200px;
        margin-right: 200px;  

    }
    h1:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        width: 70px;
        height: 5px;
        background-color: #5bb7ae;
      }

    .view_title::placeholder {
        color: #b7b6b6;
    }

    .view_body::placeholder {
        color: #b7b6b6;
    }

    .add {
        background-color: #008cff;
        outline: none;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;  
        display: block;
    }

    .remove {
        height: 30px;
        width: 30px;
        margin: 0 5px 20px auto;
    }
}

.overview-s {
    padding: 70px;
    .card_content_s {
        margin-bottom: 20px;
        width: 80%;
    }

    .card {
        padding: 0.5em 1em;
        width: 700px;
        background: #f4f4f4;
        border-left: solid 6px #5bb7ae;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
        margin-left: auto;
        margin-right: auto; 
        .card-body {
            display: flex;
            #view_title_date {
                width: 30%;
            }
            #view_title_time {
                width: 30%;
            }
        } 
    }
    h1 {
        display: block;
        position: relative;
        font-size: 26px;
        text-align: center;
        border-bottom: 5px solid #dddddd;
        margin-bottom: 40px;
        margin-left: 200px;
        margin-right: 200px;  
    }
    h1:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        width: 70px;
        height: 5px;
        background-color: #5bb7ae;
      }

    .view_title::placeholder {
        color: #b7b6b6;
    }

    .view_body::placeholder {
        color: #b7b6b6;
    }

    .add {
        background-color: #008cff;
        outline: none;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;  
        display: block;
    }

    .remove {
        height: 30px;
        width: 30px;
        margin: 0 5px 20px auto;
    }
}

