.plan_container {
    .workapce {
        background-size: cover;
        height: 70vh;
        width: 100%;
        padding-top: 30vh;
        padding: 50px 50px;
        position: relative;
        background-position: center;
        background-image: url("../../public/images/27109395_l.jpg");
        display: flex;
        justify-content: center;
        align-items: center;
        .plan_message {
            width: 50%;
            margin-bottom: 30px;
            position: relative;
            h3 {
                font-size: 60px;
                width: 100%;
                font-weight: bold;
                color: white;
            }

            p {
                padding-top: 30px;
                font-size: 20px;
                font-weight: bold;
                color: white;
            }
        }

        .plan_card {
            width: 50%;
            .btn {
                width: 100%;
            }
            .view_sub {
                margin-top: 20px;
            }
            input {
                font-size: 20px;
            }
        }
    }
}

textarea {
    resize: none;
}

.workapce::before {
    content: '';
    background-color: rgba(32, 32, 32, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}



.overview {
    padding: 70px;
    .card_content {
        margin-bottom: 20px;
    }

    .card {
        padding: 0.5em 1em;
        // margin: 1em 0;
        width: 700px;
        background: #f4f4f4;
        border-left: solid 6px #5bb7ae;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
        margin-left: auto;
        margin-right: auto;  
    }
    h1 {
        position: relative;
        font-size: 26px;
        text-align: center;
        border-bottom: 5px solid #dddddd;
        margin-bottom: 40px;
        margin-left: 200px;
        margin-right: 200px;  

    }
    h1:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        width: 70px;
        height: 5px;
        background-color: #5bb7ae;
      }

    .view_title::placeholder {
        color: #b7b6b6;
    }

    .view_body::placeholder {
        color: #b7b6b6;
    }

    .add {
        background-color: #008cff;
        outline: none;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;  
        display: block;
    }

    .remove {
        height: 30px;
        width: 30px;
        margin: 0 5px 20px auto;
    }
}

.overview-s {
    padding: 70px;
    .card_content_s {
        margin-bottom: 20px;
        width: 80%;
    }

    .card {
        padding: 0.5em 1em;
        width: 700px;
        background: #f4f4f4;
        border-left: solid 6px #5bb7ae;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
        margin-left: auto;
        margin-right: auto; 
        .card-body {
            display: flex;
            #view_title_date {
                width: 30%;
            }
            #view_title_time {
                width: 30%;
            }
        } 
    }
    h1 {
        display: block;
        position: relative;
        font-size: 26px;
        text-align: center;
        border-bottom: 5px solid #dddddd;
        margin-bottom: 40px;
        margin-left: 200px;
        margin-right: 200px;  
    }
    h1:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        width: 70px;
        height: 5px;
        background-color: #5bb7ae;
      }

    .view_title::placeholder {
        color: #b7b6b6;
    }

    .view_body::placeholder {
        color: #b7b6b6;
    }

    .add {
        background-color: #008cff;
        outline: none;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;  
        display: block;
    }

    .remove {
        height: 30px;
        width: 30px;
        margin: 0 5px 20px auto;
    }
}
